 body {
      padding: 0;
      margin: 0;
      background-color: #000000;
    }

.container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%
}
.control-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.comand-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 30rem;
   height: 5.5rem;
   background-color: #333;
   border-radius: 10px;
   padding:0.5rem;
   margin-top: 1rem;
}
.main-method {
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 0.5rem;
   width: 30rem;
   min-height: 15rem;
   flex-wrap: wrap;
   background-color: #333;
   border-radius: 10px;
   padding:0.5rem;
   margin-top: 1rem;
}
.image-button {
    height: 5.5rem;
    background: #999999;
    border: none;
    padding: 0;
    cursor: pointer; 
    border-style: solid;
    border-color: #000000;
}

.image-button img {
    width: 5rem;
    height: auto; 
    display: block; 
}

.image-button:hover {
    opacity: 0.8;
}    